<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="fragments :: page_head('Users - Shopme Admin', 'none')" />

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h2>Manage Users</h2>
			<a th:href="@{/users/new}" class="fa-solid fa-user-plus fa-2x icon-blue mr-2" title="Add new user"></a>
			<a th:href="@{/users/export/csv}" class="fa-solid fa-file-csv fa-2x icon-blue mr-2"
				title="Download CSV file"></a>
			<a th:href="@{/users/export/excel}" class="fa-solid fa-file-excel fa-2x icon-blue mr-2"
				title="Download Excel file"></a>
			<a th:href="@{/users/export/pdf}" class="fa-solid fa-file-pdf fa-2x icon-blue mr-2"
				title="Download PDF file"></a>
		</div>
		<!-- Notification And Search Form -->
		<div th:replace="fragments :: search_form_and_message('/users')" />
		<!-- Table -->
		<div class="full-details">
			<table class="table table-striped table-bordered table-hover">
				<thead class="thead-dark">
					<tr>
						<th class="hideable-column">
						   <th th:replace="fragments :: column_link('/users', 'id', 'User ID', 'tag')" />
						</th>
						<th scope="col">Image</th>
						<th class="hideable-column">
						   <th th:replace="fragments :: column_link('/users', 'email', 'Email', 'tag')" />
						</th>
						<th th:replace="fragments :: column_link('/users', 'firstName', 'First Name', 'none')" />
						<th th:replace="fragments :: column_link('/users', 'lastName', 'Last Name', 'none')" />
						<th scope="col">Role</th>
						<th th:replace="fragments :: column_link('/users', 'enabled', 'Enabled', 'none')" />
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${listUsers}">
						<td class="hideable-column">[[${user.id}]]</td>
						<td>
							<i th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-2x icon-silver"></i>
							<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
								style="width: 50px;" />
						</td>
						<td class="hideable-column" >[[${user.email}]]</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.roles}]]</td>
						<td>
							<a th:if="${user.enabled == true}" th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
								class="fas fa-check-circle fa-2x icon-green" title="Disable this user"></a>
							<a th:if="${user.enabled == false}" th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
								class="fas fa-ban fa-2x icon-red" title="Enable this user"></a>
						</td>
						<td>
							<a th:href="@{'/users/edit/' + ${user.id}}" class="fas fa-edit fa-2x icon-green"
								title="Edit this user"></a>
							&nbsp;
							<a th:href="@{'/users/delete/' + ${user.id}}"
								class="fas fa-trash fa-2x icon-red link-delete" th:entityId="${user.id}"
								title="Delete this user"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Small Screens -->
		<div class="less-details">
			<div th:each="user : ${listUsers}" class="row m-1">
				<div class="col-4">
					<i th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-2x icon-silver"></i>
					<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width: 100px;" />
				</div>
				<div class="col-8">
					<div>[[${user.fullName}]]</div>
					<div>[[${user.roles}]]</div>
					<div class="mt-1">
						<a th:if="${user.enabled == true}" th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
							class="fas fa-check-circle fa-2x icon-green" title="Disable this user"></a>
						<a th:if="${user.enabled == false}" th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
							class="fas fa-ban fa-2x icon-red" title="Enable this user"></a>
						&nbsp;
						<a th:href="@{'/users/edit/' + ${user.id}}" class="fas fa-edit fa-2x icon-green"
							title="Edit this user"></a>
						&nbsp;
						<a th:href="@{'/users/delete/' + ${user.id}}" class="fas fa-trash fa-2x icon-red link-delete"
							th:entityId="${user.id}" title="Delete this user"></a>
					</div>
				</div>
			</div>
		</div>
		<!-- Pagination -->
		<div th:replace="fragments :: pagination('/users', 'users')"></div>
		<!-- Delete Modal -->
		<div th:replace="modal_fragments :: confirm_modal"></div>
		<!-- Footer -->
		<div th:replace="fragments :: footer"></div>
	</div>

	<script type="text/javascript">
		
		var moduleURL = "[[@{/users}]]";
		var entityName = "user";

		$(document).ready(function () {

			$(".link-delete").on("click", function (e) {

				e.preventDefault();

				showDeleteConfirmModal($(this), 'user');
			});
		});
				
	</script>
	<script type="text/javascript" th:src="@{/js/common_list.js}" ></script>
</body>

</html>