<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Articles - Shopme Admin', 'none')" />

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h2>Manage Articles</h2>
			<a th:href="@{/articles/new}" class="fas fa-folder-plus fa-2x icon-blue mr-2"></a>
		</div>

		<!-- Notification And Search Form -->
		<div th:replace="fragments :: search_form_and_message('/articles')" />

		<div class="full-details">
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th th:replace="fragments :: column_link('/articles', 'id', 'ID', 'none')" />
						<th th:replace="fragments :: column_link('/articles', 'title', 'Title', 'none')" />

						<th class="hideable-column">
							<th th:replace="fragments :: column_link('/articles', 'type', 'Type', 'tag')" />
						</th>

						<th th:replace="fragments :: column_link('/articles', 'user', 'Created by', 'none')" />

						<th class="hideable-column">
							<th th:replace="fragments :: column_link('/articles', 'updatedTime', 'Updated Time', 'tag')" />
						</th>

						<th th:replace="fragments :: column_link('/articles', 'published', 'Published', 'none')" />
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="article : ${listArticles}">
						<td>[[${article.id}]]</td>
						<td>[[${article.title}]]</td>
						<td class="hideable-column">[[${article.type}]]</td>
						<td>[[${article.user.fullName}]]</td>
						<td class="hideable-column">
							<div th:replace="fragments :: format_time(${article.updatedTime})"></div>
						</td>
						<td>
							<a th:if="${article.published == true}" th:href="@{'/articles/' + ${article.id} + '/enabled/false'}"
								class="fas fa-check-circle fa-2x icon-green" title="Disable this article"></a>
							<a th:if="${article.published == false}" th:href="@{'/articles/' + ${article.id} + '/enabled/true'}"
								class="fas fa-ban fa-2x icon-red" title="Enable this article"></a>
						</td>
						<td>
							<a class="fas fa-file-alt fa-2x icon-green link-detail" th:href="@{'/articles/detail/' + ${article.id}}"
								title="View details of this article"></a>
							&nbsp;
							<a th:href="@{'/articles/edit/' + ${article.id}}" class="fas fa-edit fa-2x icon-green"
								title="Edit this article"></a>
							&nbsp;
							<a th:href="@{'/articles/delete/' + ${article.id}}"
								class="fas fa-trash fa-2x icon-red link-delete" th:entityId="${article.id}"
								title="Delete this article"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="less-details">
			<div th:each="article : ${listArticles}" class="row m-1">
				<div class="col-2">[[${article.id}]]</div>
				<div class="col-10">
					<div>[[${article.title}]]</div>
					<div class="mt-2">
						<a class="fas fa-file-alt fa-2x icon-green link-detail" th:href="@{'/articles/detail/' + ${article.id}}"></a>
						&nbsp;
						<a th:if="${article.published == true}" th:href="@{'/articles/' + ${article.id} + '/enabled/false'}"
								class="fas fa-check-circle fa-2x icon-green" title="Disable this article"></a>
						<a th:if="${article.published == false}" th:href="@{'/articles/' + ${article.id} + '/enabled/true'}"
							class="fas fa-ban fa-2x icon-red" title="Enable this article"></a>
						&nbsp;
						<a th:href="@{'/articles/edit/' + ${article.id}}" class="fas fa-edit fa-2x icon-green"
							title="Edit this article"></a>
						&nbsp;
						<a th:href="@{'/articles/delete/' + ${article.id}}"
							class="fas fa-trash fa-2x icon-red link-delete" th:entityId="${article.id}"
							title="Delete this article"></a>
					</div>
				</div>
				<div>&nbsp;</div>
			</div>
		</div>

		<div th:replace="fragments :: pagination('/articles', 'articles')"></div>

		<div th:replace="modal_fragments :: confirm_modal" />

		<div class="modal fade" id="detailModal">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
				</div>
			</div>
		</div>

		<div th:replace="fragments :: footer"></div>

	</div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		var moduleURL = "[[@{/articles}]]";
		var entityName = "article";

		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {

				e.preventDefault();

				showDeleteConfirmModal($(this), 'article');
			});
			
			handleDefaultDetailLinkClick();
		});
	</script>
</body>

</html>